/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #605dec;
  --secondary-color: #e8e7fa;
  --accent-color: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: white;
}
